<a href="https://colab.research.google.com/github/mr-miguelrangel/Estudos-analise-de-dados/blob/main/Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para data science

## 01 - Bibliotecas

3. Crie um programa que leia a seguinte lista de números e escolha um número desta aleatoriamente.\
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
from random import choice
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
print(choice(lista))

54

4. Crie um programa que sorteia, aleatoriamente, um número inteiro positivo menor que 100.

In [ ]:
from random import randrange

print(randrange(100))

62

5. Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.

In [ ]:
from numpy import pow
n1 = int(input('Digite um número:'))
n2 = int(input('Digite outro número:'))
print(f'{n1} elevado a {n2} é igual a {pow(n1, n2)}')

Digite um número:3
Digite outro número:2
3 elevado a 2 é igual a 9

6. Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes. Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
from random import randrange

nParticipantes = int(input('Digite a quantidade de participantes:'))
sorteado = randrange(nParticipantes) + 1
print(f'Sorteado: {sorteado}')

Digite a quantidade de participantes:9
Sorteado: 5

7. Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente.



> "Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"

In [ ]:
token = randrange(1000, 9999, 2)
nome = input('Digite seu nome:')
print(f'Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

Digite seu nome:Miguel
Olá, Miguel, o seu token de acesso é 5046! Seja bem-vindo(a)!

8. Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente. Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:



```
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
```

In [ ]:
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

saladaMisteriosa = []

for i in range(3):
  saladaMisteriosa.append(frutas[randrange(len(frutas))])

saladaMisteriosa

['coco', 'kiwi', 'manga']

9. Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:

`numeros = [2, 8, 15, 23, 91, 112, 256]`

In [ ]:
from math import sqrt
numeros = [2, 8, 15, 23, 91, 112, 256]
raizInteira = {}

for item in numeros:
  if sqrt(item).is_integer():
    raizInteira[item] = sqrt(item)

raizInteira

{256: 16.0}

10. Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.

In [ ]:
from math import pi, pow

raio = float(input('Digite o raio do jardim: '))
area = pi * pow(raio, 2)
preco = area * 25

print(f'Preço: R$ {preco:.2f}')

Digite o raio do jardim: 4
Preço: R$ 1256.64

## 02 - Funções

5. Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

In [ ]:
notas = []

for i in range(5):
  nota = int(input(f'Nota {i+1}: '))
  notas.append(nota)

notas.remove(max(notas))
notas.remove(min(notas))

nota_final = sum(notas)/len(notas)
print(f'Nota da manobra: {nota_final}')

Nota 1: 1
Nota 2: 2
Nota 3: 3
Nota 4: 4
Nota 5: 5
Nota da manobra: 3.0

6. Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:

- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))\
Para testar o comportamento da função, os dados podem ser exibidos em um texto:

"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"

In [ ]:
notas = []

for i in range(4):
  nota = int(input(f'Nota {i+1}: '))
  notas.append(nota)

maior_nota = max(notas)
menor_nota = min(notas)
media = sum(notas)/len(notas)
if media >= 6:
  situacao = 'APROVADO'
else:
  situacao = 'REPROVADO'

print(f'O estudante obteve uma média de {media}, com sua aior nota sendo {maior_nota}, a menor nota {menor_nota} e foi {situacao}')

Nota 1: 9
Nota 2: 5
Nota 3: 7
Nota 4: 2
O estudante obteve uma média de 5.75, com sua aior nota sendo 9, a menor nota 2 e foi REPROVADO

7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:\
nomes = ["joão", "MaRia", "JOSÉ"]\
sobrenomes = ["SILVA", "souza", "Tavares"]\
O texto exibido ao fim deve ser parecido com:\
"Nome completo: Ana Silva"

In [ ]:
def title(a):
  return a.title()

def concat(a, b):
  return a + ' ' + b

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nomes = list(map(title, nomes))
sobrenomes = list(map(title, sobrenomes))

nome_completo = list(map(concat, nomes, sobrenomes))
nome_completo

['João Silva', 'Maria Souza', 'José Tavares']

8. Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.
\
Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato. A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.
\
Para teste, utilize as seguintes listas de gols marcados e sofridos:
\
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

In [ ]:
def calcula_pontos(marcados, sofridos):
  if marcados > sofridos:
    return 3
  elif marcados == sofridos:
    return 1
  else:
    return 0
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

pontos = list(map(calcula_pontos, gols_marcados, gols_sofridos))
aproveitamento = sum(pontos)/(len(pontos) * 3)*100

print(f'Pontuação {sum(pontos)} Aproveitamento {aproveitamento:.2f}%')

Pontuação 7 Aproveitamento 46.67%

9. Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais: a 1ª função calcule os gastos com hotel (gasto_hotel), a 2ª calcule os gastos com a gasolina (gasto_gasolina) e a 3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.

In [ ]:
def gasto_hotel(dias):
  return dias * 150

def gasto_gasolina(distancia):
  return distancia/14*5

gasto_passeio = {'Salvador':200, 'Fortaleza':400, 'Natal':250, 'Aracaju':300}
distancia = {'Salvador':850, 'Fortaleza':800, 'Natal':300, 'Aracaju':550}

total = gasto_hotel(3) + gasto_gasolina(distancia['Salvador']*2) + gasto_passeio['Salvador']
print(f'Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria {total:.2f} reais')

Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria 1257.14 reais

10. Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

In [ ]:
def check_palavra(palavra):
  return len(palavra) >= 5
frase = 'Aprender Python aqui na Alura é muito bom'
filtro = list(filter(lambda x: len(x)>=5, frase.split()))
filtro

['Aprender', 'Python', 'Alura', 'muito']

## 03 - Estruturas de dados

### Aquecimento

1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

soma_listas = [sum(i) for i in lista_de_listas]
print(soma_listas)

[24, 10, 16]

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

resposta = [i[2] for i in lista_de_tuplas]
print(resposta)

[81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

tupla = [(i, lista[i]) for i in range(len(lista))]
print(tupla)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

aluguel_ap = []
for item in aluguel:
  if item[0] == 'Apartamento':
    aluguel_ap.append(item[1])

print(aluguel_ap)

[1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

despesa_mensal = {mes:gasto for mes, gasto in zip(meses, despesa)}
despesa_mensal

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

### Aplicando a projetos

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

filtro_vendas = [item for item in vendas if item[0] == '2022' and item[1]>6000]
print(filtro_vendas)

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

* Glicose igual ou inferior a 70: 'Hipoglicemia'
* Glicose entre 70 a 99: 'Normal'
* Glicose entre 100 e 125: 'Alterada'
* Glicose superior a 125: 'Diabetes' \
\
A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

lista_glicemia = [('Hipoglicemia', glicemia[i]) if glicemia[i] <= 70
                  else ('Normal', glicemia[i]) if glicemia[i]<100
                  else ('Alterada', glicemia[i]) if glicemia[i]<126
                  else ('Diabetes', glicemia[i]) for i in range(len(glicemia))]
print(lista_glicemia)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```
O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [4]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
total = [qtd * preco for qtd, preco in zip(quantidade, preco)]

tabela = list(zip(id, quantidade, preco, total))
tabela.insert(0, ('id', 'quantidade', 'preco', 'total'))
tabela

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

In [5]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

filiais = {uf:estados.count(uf) for uf in estados}
filiais

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:
```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```
 A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

In [13]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

estado, quantidade = zip(*funcionarios)

# Cria uma lista de estados sem repetição de itens
estados_unicos = list(set(estado))
# Cria lista de listas com as quantidades de pessoas em cada estado
qtd_estado = []
for estado in estados_unicos:
  lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
  qtd_estado.append(lista)

agrupamento_estado = {uf:qtd for uf, qtd in zip(estados_unicos, qtd_estado)}
soma_estado = {uf:sum(qtd) for uf, qtd in zip(estados_unicos, qtd_estado)}

print(agrupamento_estado)
print(soma_estado)

{'RJ': [13, 9], 'ES': [8, 9, 7, 12, 8, 14], 'MG': [9, 6, 4, 8, 5, 10, 12], 'SP': [16, 10, 7, 11, 9, 12, 7, 10]}
{'RJ': 22, 'ES': 58, 'MG': 54, 'SP': 82}

## 4. Lidando com exceções